<html> 
      {% extends'base.html' %}

      {% block cambio %}  
<head>
               <meta charset="UTF-8">
               <meta name="viewport" content="width=device-width, initial-scale=1.0">
               <title> <b>Ingrese su información de usuario</b></title>
</head>
<body>
               
<form action="" method= "POST"> 
      {% csrf_token %}
      {{form.as_p}}
      
      <button type="submit"> Iniciar Sesión </button>  
      <input type="submit", value="Buscar">  

</form>                     
</body>
{% endblock %}  
</html> 