<!DOCTYPE html>
<html lang="en">
<head>
               <meta charset="UTF-8">
               <meta name="viewport" content="width=device-width, initial-scale=1.0">
               <title>Document</title>
</head>
<body>

  <b><h1> Hola {{nombre}}, gracias por registrarte</b> 
  <h2>Elije los distintos tipos de vehículos y planes <br> diseñados para tu necesidad.</h2>
  <br>Contamos con:<br> 
  <h3>Planes particulares<br> 
  Planes turistas<br>   
  planes corporativos<br> </h3>             
</body>
</html>